/* **************************** */
/*           navigation         */
/* **************************** */
nav h1 a {
    background-image: url('./img/logo-marianne.gif');
}
.login-grid .login-datagouv {
    background-image: url('../datagouv.png');
}
.branding {
    width: 33%;
}


/* **************************** */
/*             Forms            */
/* **************************** */
input[type="submit"], .button {
    background-color: #2185d0;
    color: #eeeeec;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'fira_sansregular';
}
input[type="submit"]:hover, .button:hover {
    background-color: #1678c2;
}


/* **************************** */
/*             home             */
/* **************************** */
.map_list {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.map_list .map_fragment {
  height: 400px;
}
.map_list h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
}
.summary {
    background-color: transparent;
    text-align: center;
}
.summary h2 {
    font-size: 4em;
}
.summary p {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.summary .button {
    display: inline;
}

/* **************************** */
/*            footer            */
/* **************************** */
footer {
    padding-top: 40px;
    height: 200px;
    line-height: 1.3em;
    font-size: 1.2em;
    background-color: #222;
}
footer h4 {
    color: white;
}
footer a {
    color: #ddd;
}
