/* **************************** */
/*           navigation         */
/* **************************** */
.umap-nav h1 a {
    background-image: url('./img/logo-marianne.gif');
}
.umap-nav h1 small {
    font-size: .9rem;
}
.login-grid .login-datagouv {
    background-image: url('../datagouv.png');
}

/* **************************** */
/*             Forms            */
/* **************************** */
input[type="submit"], .button {
    background-color: #2185d0;
    color: #eeeeec;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'fira_sansregular';
}
input[type="submit"]:hover, .button:hover {
    background-color: #1678c2;
}


/* **************************** */
/*             home             */
/* **************************** */
.map_list {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.map_list .map_fragment {
    height: 60vh;
}
.summary {
    background-color: transparent;
    text-align: center;
}
.summary p {
    font-size: 1.3em;
    line-height: 1.4em;
    margin-bottom: 10px;
    max-width: 250px;
    margin: 0 auto;
}
.wrapper .neutral:hover {
    background-color: #ccc;
}
.highlights img.colophon {
    height: 90px;
}
