{% load static from staticfiles %}

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <div class="left item">
        <img class="ui tiny image" src="{% static "umap/img/logo.png" %}">
    </div>
    <a class="active item">Accueil</a>
    <a class="item">Connexion / Créer un compte</a>
    <a class="item">À propos</a>
    <a class="item">Feedback</a>
    <div class="right menu">
      <div class="item">
        <a class="ui blue button">Créer une carte</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical sidebar menu">
  <div class="item">
    <img class="ui mini image" src="{% static "umap/img/logo.png" %}">
  </div>
  <a class="active item">Accueil</a>
  <a class="item">Connexion / Créer un compte</a>
  <a class="item">À propos</a>
  <a class="item">Feedback</a>
  <a class="item">Créer une carte</a>
</div>
