{% block footer %}
<footer class="wrapper">
    <div class="col third">
        <h4>À propos</h4>
        <ul>
            <li><a href="{% url 'about' %}">À propos de cartes.data.gouv.fr</a></li>
            <li><a href="https://wiki.openstreetmap.org/wiki/UMap">À propos d'uMap</a></li>
            <li><a href="mailto:site@data.gouv.fr">Contact</a></li>
        </ul>
    </div>
    <div class="col third">
        <h4>Partenaire</h4>
        <ul>
            <li><a href="http://openstreetmap.fr/">OpenStreetMap</a></li>
        </ul>
    </div>
    <div class="col third">
        <h4>Suivez-nous</h4>
        <ul>
            <li><a href="https://twitter.com/Etalab">Twitter</a></li>
        </ul>
    </div>
</footer>
{% endblock footer %}
