{% block footer %}
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">À propos</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Mentions légales</a>
                    <a href="#" class="item">Contribuez !</a>
                    <a href="#" class="item">FAQ</a>
                    <a href="#" class="item">Communication</a>
                    <a href="#" class="item">Contact</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Partenaires</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">service-public.fr</a>
                    <a href="#" class="item">ameli.fr</a>
                    <a href="#" class="item">caf.fr</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Suivez-nous</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Twitter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock footer %}
