{% extends "umap/content.html" %}

{% load static from staticfiles %}
{% load leaflet_storage_tags %}

{% block content %}

<!-- Page Contents -->
<div class="pusher">
  <div class="ui vertical masthead center aligned segment">

    {% block navigation %}
      {% include 'umap/navigation.html' %}
    {% endblock navigation %}

    {% include "umap/search.html" %}

    {% include "umap/summary.html" %}

    <h2 class="ui horizontal divider header"> Liste des cartes </h2>

    <div class="ui container">
      <div class="map_list">
        {% include "leaflet_storage/map_list.html" %}
      </div>
    </div>

  </div>
</div>

{% endblock content %}
