{% extends "umap/content.html" %}

{% load static from staticfiles %}

{% block maincontent %}
{% include "umap/search_bar.html" %}

<div class="wrapper row summary">
    <h2>{{ SITE_NAME }}</h2>
    <p>Visualiser et partager les données géographiques facilement.</p>
    <p><a href="{% url 'map_new' %}" class="button">Créer une carte<i class="right edit icon"></i></a></p>
</div>

<div class="wrapper">
  <div class="map_list row">
    <h2>Les dernières cartes</h2>
    {% include "leaflet_storage/map_list.html" %}
  </div>
</div>

{% endblock maincontent %}
