{% extends "umap/content.html" %}

{% load static from staticfiles %}

{% block head_title %}Cartes par data.gouv.fr{% endblock %}

{% block maincontent %}
  {% include "umap/search_bar.html" %}
  <div class="wrapper row summary">
    <h2>Visualiser et partager les données géographiques facilement.</h2>
  </div>
  <div class="wrapper">
    <div class="map_list row">
      {% include "leaflet_storage/map_list.html" %}
    </div>
  </div>
  <div class="wrapper row summary">
    <p><a href="{% url 'map_new' %}" class="button">Ajouter votre carte</a></p>
  </div>
{% endblock maincontent %}
