{% load static from staticfiles %}

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <div class="left item">
        <img class="ui tiny image" src="{% static "umap/img/logo.png" %}">
    </div>
    {% if user.is_authenticated %}
      <a class="active item" href="{% url 'user_maps' user.username %}">Ma carte ({{ user }})</a>
    {% else %}
      <a class="active item login" href="{% url 'login' %}">Connexion / Créer un compte</a>
    {% endif %}
    <a class="item" href="{% url 'about' %}">À propos</a>
    <a class="item" href="{{ UMAP_FEEDBACK_LINK }}">Feedback</a>
    <div class="right menu">
      <div class="item">
        <a class="ui blue button" href="{% url 'map_new' %}">Créer une carte</a>
        {% if user.is_authenticated %}
          <a class="ui red button logout" href="{% url 'logout' %}">Déconnexion <i class="right power icon"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical sidebar menu">
  <div class="item">
    <img class="ui mini image" src="{% static "umap/img/logo.png" %}">
  </div>
  {% if user.is_authenticated %}
    <a class="active item" href="{% url 'user_maps' user.username %}">Ma carte ({{ user }})</a>
  {% else %}
    <a class="active item login" href="{% url 'login' %}">Connexion / Créer un compte</a>
  {% endif %}
  <a class="item" href="{% url 'about' %}">À propos</a>
  <a class="item" href="{{ UMAP_FEEDBACK_LINK }}">Feedback</a>
  <a class="item" href="{% url 'map_new' %}">Créer une carte</a>
  {% if user.is_authenticated %}
    <a class="item logout" href="{% url 'logout' %}">Déconnexion <i class="right power icon"></i></a>
  {% endif %}
</div>
