{% load static from staticfiles %}

<div class="ui container">
  <div class="ui large secondary pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <div class="left item">
        <img class="ui tiny image" src="{% static "umap/img/logo.png" %}">
    </div>
    <a class="active item">Accueil</a>
    <a class="item">Connexion / Créer un compte</a>
    <a class="item">À propos</a>
    <a class="item">Feedback</a>
    <div class="right item">
      <a class="ui blue button">Créer une carte</a>
    </div>
  </div>
</div>
